<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rye.opengl">

    <application>
        <activity
            android:name=".course_y.yuv.YUVPlayActivity"
            android:exported="false" />
        <activity
            android:name=".course_y.oes.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />
        <activity
            android:name=".course_y.oes.OESCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />
        <activity
            android:name=".course_y.oes.TestOESActivity"
            android:exported="true" />
        <activity
            android:name=".course_y.other.TestTextureViewActivity"
            android:exported="false" />
        <activity
            android:name=".course_y.other.TestCustomSurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name=".course_y.other.TestEGLHelperActivity"
            android:exported="false" />
        <activity
            android:name=".demos.ShapeActivity"
            android:exported="true" />
        <activity
            android:name=".hockey.FirstOpenglActivity"
            android:exported="true" />
    </application>

</manifest>