<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawn.zgstep">

    <application>
        <activity android:name=".others.job1.JobOneActivity"></activity>
        <activity android:name=".test_activitys.ZStepMainActivity" />
    </application>

</manifest>