<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rye.base">
    <!--安装包 O适配-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application>
        <activity android:name="com.rye.appupdater.UpdateActivity"></activity>
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/fileproviderpath"
                />

        </provider>
    </application>

</manifest>