<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rye.catcher">

    <uses-feature
        android:name="android.hardware.bluetooth.le"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 这个没啥用。。。 -->
    <permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        android:protectionLevel="signature" />
    <!-- 高德地图所需权限在下面 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".RyeCatcherApp"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="${appName}"
        android:roundIcon="@drawable/appround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="09f608d1c15c69d760761fec208845ab" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cb3dc76570df3a6d200082e" />
        <!-- value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 今日头条适配分案 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="${Screen_Width_Size}" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="180" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivityEx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RetrofitActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".project.services.IRemoteService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rye.catcher.project.services.IRemoteService" />
            </intent-filter>
        </service>
        <service android:name=".project.services.DownLoadService" />
        <!-- <service android:name=".project.services.IntentServiceEx" /> -->

        <activity
            android:name=".activity.CameraActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JetPackActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.ReviewActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.review.BaseAdapterTest"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.viewpager.helloActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Trans" />
        <activity
            android:name=".project.review.ViewPagerTest"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmTopActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.review.myAsyncTask"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.review.myAsyncTask_pg"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AsyncMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.animations.AnimShapeActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.animations.AnimMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.DrawableMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LayerDrawableActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmFirstActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmSecondActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmThirdActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ProjectMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.animations.AnimMemoryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.animations.AnimAttrActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.animations.AnimExActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmFivthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmSixthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.ctmviews.dellist.DelMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmSeventhActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.ctmviews.ctmimg.RoundMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.animations.AnimValueActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.IntentsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.SQLiteZ.DBActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FilesDemoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />

        <service android:name=".project.services.LocalService">
            <intent-filter android:priority="999">
                <action android:name="project.services.LocalService" />
            </intent-filter>
        </service>

        <activity
            android:name=".project.services.ServiceMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.review.SpannableStringTest"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmMain2Activity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmEighthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmNinethActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.ctmviews.Mypractice.Custom_Tenth"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmElevenActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmTwelfthsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".project.ctmviews.GestureDetectors"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CartoonsDoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CartoonsListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CharactersDoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".base.sockets.SocketClientActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TestCoorActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CartoonsDetailActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ProvinceListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RecycleDemoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CommonDialogActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CoordinatorActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SlideActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BatchLoadingActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity android:name=".activity.SiteProtectionActivity" />
        <activity
            android:name=".activity.AIDLActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BlueToothActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ctmactivity.CtmDDActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".common.bigimg.ImageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ORRActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ctmactivity.CtmPTRActivity" />
        <activity android:name=".activity.BLEActivity" />
        <activity android:name=".project.Ademos.mvp.MvpActivity" />
        <activity android:name=".project.Ademos.mvp.MvpBaseActivity" />
        <activity
            android:name=".project.ctmviews.takephoto.CameraActivity2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".project.ctmviews.takephoto.TestPhotoActivity" />
        <activity android:name=".project.ctmviews.takephoto.CameraActivityEx" />
        <activity android:name=".activity.MultiActivity" />
        <activity android:name=".activity.LeftDetailActivity" />
        <activity android:name=".activity.ViewModelActivity" />
        <activity android:name=".activity.KotlinActivity" />
        <activity android:name=".activity.ctmactivity.AnimeActivity" />
        <activity android:name=".activity.AnimeActivity"></activity>
    </application>

</manifest>