<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myappsecond">

   <!-- <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 这个没啥用。。。-->
    <permission android:name="android.permission.STATUS_BAR_SERVICE" android:protectionLevel="signature" />
    <!--高德地图所需权限在下面-->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <!--小米推送SDK新增权限-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.example.myappsecond.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="com.example.myappsecond.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <application
        android:name=".EChatApp"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
         android:label="@string/appName"
        android:roundIcon="@drawable/appround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="c82623e86cead19bf4d82c4ca40079e4"/>"
        <provider
            android:authorities="com.example.myappsecond.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name=".MainActivity"
             android:configChanges="keyboard|orientation|screenSize"
             android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity">
          <intent-filter>
          <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".project.Http_test"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.ImageLoaderUntils"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".CameraActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.review.KeepJava"
           android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.MenuActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.ReviewTest"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.review.BaseAdapterTest"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.Viewpager.helloActivity"
             android:theme="@style/AppTheme.Trans"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.review.ViewPagerTest"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmTopActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".utils.ExtraUtil.Amap"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.review.myAsyncTask"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.review.myAsyncTask_pg"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.AsyncLoading.AsyncMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.animations.AnimShapeActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.animations.AnimMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".activity.DrawableMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".activity.LayerDrawableActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmFirstActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmSecondActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmThirdActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.ProjectMain"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.Project_dialog_first"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.animations.AnimMemoryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.animations.AnimAttrActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.animations.AnimExActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmFivthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmSixthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.ListView_Delete.List_Main"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.customViews.CtmSeventhActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".utils.ImageUtils.RoundMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.animations.AnimValueActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />

        <activity android:name=".project.SlidingConflict"/>
        <activity android:name=".project.sqlLiteDatabase.DBActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".activity.FileStorageTest"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <service android:name=".project.services.ServiceTest"/>
        <activity android:name=".project.services.ServiceMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name=".project.review.SpannableStringTest"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.CtmMain2Activity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.CtmEighthActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.CtmNinethActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".activity.OkHttpMainActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.Mypractice.Custom_Tenth"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.CtmElevenActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.CtmTwelfthsActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".project.customViews.GestureDetectors" />
        <activity android:name=".activity.WebViewActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".activity.CartoonsDoActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".activity.CartoonsListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".activity.CharactersDoActivity"
            android:configChanges="keyboard|orientation|screenSize" />
    </application>

</manifest>